.app {
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav ul {
  display: flex;
  padding-left: 0;
}

nav ul li {
  list-style: none;
  margin-right: 1rem;
}

nav ul li:last-child {
  margin-right: 0;
}

nav ul li a {
  text-decoration: none;
  color: dodgerblue;
  font-size: 1.1rem;
}
